<div class="modal fade" id="importPreviewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content" id="importPreviewContent">
            <div class="modal-header"><h5 class="modal-title">معاينة الاستيراد</h5><button type="button" class="btn-close" data-bs-dismiss="modal"></button></div>
            <div class="modal-body"><div class="text-center text-muted">يرجى اختيار ملف إكسل لعرض المعاينة هنا.</div></div>
            <div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button></div>
        </div>
    </div>
</div>