<!--**********************************
    بداية التذييل
***********************************-->
<div class="footer" dir="rtl" style="text-align:right;">
    <div class="copyright">
        <p>جميع الحقوق محفوظة &copy; تم التصميم والتطوير بواسطة <a href="https://www.hmmc.gov.ae/" target="_blank">االادارة الاستراتيجية لادارة المواد الخطرة</a> ٢٠٢٥</p>
    </div>
</div>
<!--**********************************
    نهاية التذييل
***********************************-->
