<!--**********************************
    Footer start
***********************************-->
<div class="footer">
    <div class="copyright">
        <p>Copyright © Designed &amp; Developed by <a href="https://www.hmmc.gov.ae/" target="_blank">ADHMMC</a> 2025</p>
    </div>
</div>
<!--**********************************
    Footer end
***********************************-->
