<!--**********************************
    Nav header start
***********************************-->
<div class="nav-header" dir="rtl" style="text-align:right;">
    <a href="@Url.Action("Index", "Jobick")" class="brand-logo d-flex align-items-center">
        <img src="~/Jobick/images/SmallLogo.png" alt="System Logo" class="logo-abbr"
             style="width:60px; height:60px; object-fit:contain;" />

        <span class="brand-title ms-3 fs-12 fw-bold text-dark">مركز أبو ظبي لإدارة المواد الخطرة - الإدارة الاستراتيجية</span>
    </a>

    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>
<!--**********************************
    Nav header end
***********************************-->
