<!--**********************************
    بداية الشريط الجانبي
***********************************-->
<div class="dlabnav" dir="rtl" style="text-align:right;">
    <div class="dlabnav-scroll">
        <div class="dropdown header-profile2 ">
            <a class="" role="none" >
                <div class="header-info2 d-flex align-items-center">
                    <div class="d-flex align-items-center sidebar-info">
                        <div>
                            <span class="font-w400 d-block">@User.Identity?.Name!</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <ul class="metismenu" id="menu">
            <li>
                <a href="@Url.Action("Index", "ADHMMC")" aria-expanded="false" class="">
                    <i class="flaticon-025-dashboard"></i>
                    <span class="nav-text">لوحة التحكم</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Projects")" class="" aria-expanded="false">
                    <i class="flaticon-013-checkmark"></i>
                    <span class="nav-text">المشاريع</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--**********************************
    نهاية الشريط الجانبي
***********************************-->
