@{
    Layout = "~/Views/Shared/_LayoutJobickBlank.cshtml";
}
<div class="fix-wrapper" dir="rtl" style="text-align:right;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
                <div class="card mb-0 h-auto">
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <img class="logo-auth" src="~/Jobick/images/SmallLogo.png" alt="االادارة الاستراتيجية لادارة المواد الخطرة في أبو ظبي">
                        </div>
                        <h4 class="text-center mb-4">تسجيل الدخول إلى حسابك</h4>
                        <form asp-action="Login" method="post">
                            <div class="form-group mb-4">
                                <label class="form-label" for="username">اسم المستخدم</label>
                                <input type="text" class="form-control" placeholder="أدخل اسم المستخدم" id="username" name="username" required>
                            </div>
                            <div class="mb-sm-4 mb-3 position-relative">
                                <label class="form-label" for="password">كلمة المرور</label>
                                <input type="password" id="password" class="form-control" name="password" placeholder="أدخل كلمة المرور" required>
                                <span class="show-pass eye">
                                    <i class="fa fa-eye-slash"></i>
                                    <i class="fa fa-eye"></i>
                                </span>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block">تسجيل الدخول</button>
                            </div>
                        </form>

                        @if (!ViewData.ModelState.IsValid)
                        {
                            <p class="text-danger mt-2">@ViewData.ModelState[""].Errors.FirstOrDefault()?.ErrorMessage</p>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
