<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Projects")">المشاريع</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">تفاصيل المشروع</a></li>
    </ol>
</div>